body {
  background: lightseagreen;
  margin: 0px;
}

header {
  color: yellow;
  font-size: 60px;
  padding-top: 10px;
  font-style: italic;
  margin: 0px;
  text-align: center;
}

h1 {
  font-size: 40px;
  margin: 0px;
}

h2 {
  text-align: center;
  margin: 5px;
  z-index: 10
}

.text-area {
  text-align: center;
  top: 250px;
  left: 500px;
}

.red {
  color: red;
  font-weight: bold;
}

#game-over-box {
  text-align: center;
}

main {
  display: flex;
  justify-content: center;
}

#game-screen {
  border: solid 3px white;
  background-color: #539A46;
  width: 450px;
  margin-top: 10px;
}

#game-area {
  position: relative;
  height: 100%;
}

#game-area #starting-instruction {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}

/* did display flex for each section before realising can all be put under container */
#game-screen .container {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.penaltybox {
  height: 120px;
  width: 90px;
}

#pen-side {
  flex-grow: 1;
  position: relative;
}

#pen-mid {
  border-left: 3px solid white;
  border-bottom: 3px solid white;
  border-right: 3px solid white;
  width: 270px;
}

#pen-edge {
  position: absolute;
  border-left: 3px solid white;
  border-right: 3px solid white;
  border-bottom: 3px solid white;
  height: 40px;
  left: 50%;
  transform: translate(-50%);
}

#goal {
  position: absolute;
  border: 3px solid blue;
  height: 0px;
  left: 50%;
  top: -3px;
  transform: translate(-50%);
}

/* d-container */
.d-container {
  height: 70px;
  width: 150px;
  margin: 0px;
}

#d-curve {
  border: 3px solid white;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  border-top: 0px;
}

.remaining-area {
  height: 330px;
  margin: 0px;
  position: relative;
}

div~p {
  font-family: sans-serif;
  text-align: center;
}


/* halfwayline */
.halfwayline {
  height: 70px;
  width: 150px;
  margin: 0px;
  position: relative;
}

#halfwayline-curve {
  border: 3px solid white;
  border-bottom: 0px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
}

/* player, opposition and ball designs */
#player {
  height: 20px;
  width: 20px;
  background-color: blue;
  position: absolute;
}

#ball {
  height: 7px;
  width: 7px;
  background-color: white;
  position: absolute;
}

.opposition-player {
  height: 30px;
  width: 30px;
  background-color: rgba(255, 0, 0, 0.7);
  position: absolute;
}

#opposition-gk {
  height: 20px;
  width: 20px;
  background-color: gold;
  position: absolute;
}

/* game over button and resets */
.button {
  display: flex;
  justify-content: center;
}

#reset-ball {
  display: flex;
  align-items: center;
  align-content: center;
  position: absolute;
  top: 250px;
  right: 500px;
  font-size: 15px;
  transform: translate(-50%, 50%);
}

/* other miscellaneous items in the HTML */
#summary {
  margin-left: 60px;
  margin-top: 20px;
  margin-bottom: 10px;
}

ul {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Animations */
@keyframes flashing {
  0% {
    opacity: 1;
  }

  25% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  75% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.flashing {
  animation: flashing 1s infinite;
}

@keyframes flashing-text {
  0% {
    opacity: 1;
  }

  25% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  75% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.flashing-text {
  animation: flashing 1s 2;
}

sub {
  margin-left: 60px;
}
